body {
    font-family: Arial, sans-serif;
    background-image: url('../img/1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    margin: 0;
}

h1 {
    font-family: 'Lora', serif; /* Elegant serif font for headings */
    color: #ffffff;
    text-align: center; /* Center align the main heading */
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center; /* Center align the section heading */
    color: #ffffff;
}

.form-container, .table-container {
    max-width: 800px;
    margin: 20px auto; /* Center align the form and table containers */
    padding: 20px;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #663399;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #300031;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: rgba(102, 51, 153, 0.9); /* Semi-transparent background for thead */
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgba(102, 51, 153, 0.9); /* Semi-transparent background for th */
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(249, 249, 249, 0.8); /* Semi-transparent background for even rows */
}

a {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #663399;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #300031;
}
