body {
    font-family: Arial, sans-serif;
    background-image: url('../img/3.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
}

h2, h3 {
    text-align: center;
    color: #000000;
    font-weight: bold; /* Make text bold */
}

.form-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3); /* Slightly transparent white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #663399;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #300031;
}

.table-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3); /* Transparent background for container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.3); /* Transparent background for table */
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #663399; /* Outer border of table */
}

thead { 
    background-color: rgba(102, 51, 153, 0.9); /* Darker transparent purple */
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #663399; /* Purple border between rows */
}

th {
    border-top: 2px solid #663399; /* Purple border at the top of the header */
}

tr:nth-child(even) {
    background-color: rgba(249, 249, 249, 0.8); /* Lighter transparent gray */
}

a {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #663399;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #300031;
}
